body {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background-image: url(whitemarblewhitestars.svg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
}

.profilecontainer {
    text-align: center;
    max-width: 400px;
    background: transparent;
    padding: 40px 20px;
    border-radius: 10px;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto auto 1fr;
}

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
  }

h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: .8rem;
}
  
.bio {
    font-size: 0.7rem;
    color: #666;
    margin: 6px;
    padding-bottom: 0%;
}
  
.links {
    display: grid;
    justify-content: center;    ;
    gap: 10px;
    grid-template-columns: .7fr;
}
  
.links img {
    width: 40px; 
    height: 35px;
    border-radius: 0%; 
    object-fit: cover;
    padding: 10px;
}

.linkmyapp img {
    width: 60px; 
    height: 60px;
    object-fit: cover;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.linkwebsite img {
    width: 60px; 
    height: 60px;
    object-fit: cover;
    padding: 10px;
}
  
.linkyoutube, 
.linkinstagram {
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px / 60%; /* horizontal / vertical rounding */    
    display: grid;
    align-items: center; /* vertical center */
    background: #ffffff;
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
}

.linktree {
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px / 0%; /* horizontal / vertical rounding */    
    display: grid;
    align-items: center; /* vertical center */
    background: #ffffff;
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
}
    
.linkwebsite {
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px / 60%; /* horizontal / vertical rounding */    
    display: grid;
    align-items: center; /* vertical center */
    background: #ffffff;
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
    min-width: 250px;
}

.linkmyapp {
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px / 60%; /* horizontal / vertical rounding */    
    display: grid;
    align-items: center; /* vertical center */
    background: #ffffff;
    color: #000000;
    padding: 0px 40px 0px 20px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
    min-width: 250px; /* ensures a minimum width */
}

.linksectiontitle {
    font-size: 0.9rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.linkyoutube:hover,
.linkinstagram:hover,
.linkwebsite:hover,
.linkmyapp:hover, 
.linktree:hover {
    background: #2c2b2b;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */

}
