@media (min-width: 600px) { 
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .container-container {
        display: none;
    }

    .header {
        display: none;
    }
    

    .profile-container {
        display: none;
    }

}

@media (max-width: 599px) { 
    .desktop {
        display: none;
    }

    .socials-desktop {
        display: none;
    }
}


.desktop {    /* desktop body */
        margin: 0;
        background-color: #ac9090;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;    
        background-attachment: scroll;
        background-position: center;
        cursor: crosshair;
    }

header  {
    background-color: rgb(255, 255, 255);
}

.head-container  {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

.scroll-alert {
    background-color: #67725E;
    color:#ffffff;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: transparent;
    margin: 0px;
    padding: 0px
}

.intro-desktop {
    font-family: serif;
    background-color: #c3c3c3;
    background-image: url("jazz-background.jpg");
    background-size: cover;
    filter: grayscale(20);
    font-size: 1.2rem;
    color: #000000;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.intro-text {
    flex: 2;
    padding-right: 300px;
    padding-left: 120px;
    width: 300px;
    justify-content: center;
}

h4 {
    font-style: italic;
}

.intro-right {
    flex: 1;
    background-color: transparent;
    border: 0px transparent;
    border-radius: 0px;
}

body {
    margin: 0;
    padding: 0;
}

.socials-desktop {
    padding: 10px;
}

.skills {
    background-color: #ff0099;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.githubskills {
    background-color: #00ccff;
}

.tools {
    background-color: #ccff00;
}


/* Mobile Styles -------------------------------------------------*/

.mobile { /* mobile body */
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: scroll;
    background-position: center;
    cursor: crosshair;
}

.profile-container {
    text-align: center;
    max-width: 400px;
    background: transparent;
    background-color: #ffffff;
    padding: 40px 40px;
    border-radius: 4px;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
    align-self: center;
}

.container-container {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
    cursor: crosshair;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 0 auto;
    object-fit: fill;
  }

h2 {
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #1a1819;
}

.linkiconsdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.linkicons {
    border-radius: 60%;
    background: transparent;
    padding: 0px;
}

.links {
    display: grid;
    justify-content: center; 
    gap: 15px;
    margin: 0px;
    grid-template-columns: .7fr;
    max-width: 350px;
}


.linkportfolio img {
    width: 40px; 
    height: 40px;
    object-fit: fill;
    padding: 20px;
}
  

.linkportfolio {
    text-decoration: none;
    font-size: 0.73rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px; 
    display: grid;
    align-items: center; /* vertical center */
    background: linear-gradient(to bottom, #938d8d, #d8ddde);
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0px 0px 1px 2px rgba(85, 125, 128, 0.5); /*shadow styles */
    width: 300px;
}

footer {
    height: 10vh;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.credit {
        font-size: 0.8rem;
        font-family: 'Courier New', Courier, monospace;
    }


