@media (max-width: 450px) { 
    body {
        margin: 0;
        background-color: #cacad1;
        width: 100vw;
        height: 100vh;
        background-size: fill;
        background-repeat: no-repeat;    
        background-attachment: fixed;
        cursor: none;
    }

    .containercontainer {
        display: none;
    }

    .header {
        display: none;
    }
    
    .footer {
        display: none;
    }

    .profilecontainer {
        display: none;
    }
}

body {
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: scroll;
    background-position: center;
    cursor: crosshair;
}


.profilecontainer {
    text-align: center;
    max-width: 400px;
    background: transparent;
    background-color: #ffffff;
    padding: 40px 40px;
    border-radius: 4px;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
    align-self: center;
}

.profilecontainerportfolio {
    text-align: center;
    max-width: 400px;
    background: transparent;
    background-color: #ffffff;
    padding: 40px 40px;
    border-radius: 4px;
    display: grid;
    gap: 30px;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
    align-self: center;
}

.containercontainer {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
    cursor: crosshair;
}

.containercontainerportfolio {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
    cursor: crosshair;
}

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 0 auto;
    object-fit: fill;
  }

h1 {
    font-size: 0.8rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #50584d;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #1a1819;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.1rem;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #000000;
    text-align: left;
}


.description {
    text-align: left;
    font-size: 0.8rem;
    color: #50584d;
    font-style: italic;
}
  
.bio {
    font-size: 0.4rem;
    color: #50584d;
    margin: 6px;
    padding-bottom: 0%;
}

.linkiconsdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.linkicons {
    border-radius: 60%;
    background: transparent;
    padding: 0px;
}

.links {
    display: grid;
    justify-content: center; 
    gap: 20px;
    margin: 0px;
    grid-template-columns: .7fr;
    max-width: 350px;
}


.linkportfolio img {
    width: 40px; 
    height: 40px;
    object-fit: fill;
    padding: 20px;
}
  

.linkportfolio {
    text-decoration: none;
    font-size: 0.73rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px; 
    display: grid;
    align-items: center; /* vertical center */
    background: linear-gradient(to bottom, #938d8d, #e6e6e6);
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */
    width: 300px;
}


.linksectiontitle {
    font-size: 0.9rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.linkportfolio:hover {
    background: linear-gradient(to bottom, #e6e6e6, #938d8d);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */

}

footer {
    height: 10vh;
}


.credit {
        font-size: 0.8rem;
        font-family: 'Courier New', Courier, monospace;
    }


