body {
    margin: 0;
    background-image: radial-gradient(#c7c2cb, #a79ca2, #7f7c7c);
    width:100%;
	height:300px;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    cursor: crosshair;
}



.profilecontainer {
    text-align: center;
    max-width: 400px;
    background: transparent;
    background-color: #555454;
    padding: 40px 40px;
    border-radius: 10px;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto auto 1fr;
    height: 100vh;
}

.containercontainer {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
    cursor: crosshair;
}



h1 {
    font-size: 1.0rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

h2 {
    font-size: 1.9rem;
    margin: 0;
    font-family: "Cedarville Cursive", cursive;
    color: #ffffff;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.1rem;
}
  





  
footer {
    height: 10vh;
}


.screamqueens {
    transform: translate(-50%, -50%) rotate(-180deg) translate(-300px) rotate(-180deg);
}

.curb {
    transform: translate(-50%, -50%) rotate(-310deg) translate(300px) rotate(310deg);
}

.grogu {
    transform: translate(-50%, -50%) rotate(-250deg) translate(270px) rotate(250deg);
}

.whitelotus {
    transform: translate(-50%, -50%) rotate(180deg) translate(300px) rotate(-180deg);
}

a {
    text-decoration: none;
    color: #000000;
}

button:hover {
    color: #ff3399;
    background-color: #000000;
}


#screamqueens {
  border-radius: 20px;
  animation: fadeIn 1.3s ease-in;
}

#curb {
  border-radius: 20px;
  animation: fadeIn 1.3s ease-in;
}

#grogu {
  border-radius: 20px;
  animation: fadeIn 1.3s ease-in;
}

#lotus {
  border-radius: 20px;
  animation: fadeIn 1.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%, -50%);
}
