body {
    margin: 0;
    padding-top: 4%;
    font-family: Arial, sans-serif;
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    color: #000000;
    cursor: crosshair;
}

.profilecontainer {
    text-align: center;
    max-width: 400px;
    background: transparent;
    padding: 40px 20px;
    border-radius: 10px;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto auto 1fr;
}

.profilepic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 0 auto;
    object-fit: fill;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* drop shadow */
  }

h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: .8rem;
}
  
.bio {
    font-size: 0.7rem;
    color: #666;
    margin: 6px;
    padding-bottom: 0%;
}
  
.links {
    display: grid;
    justify-content: center;    ;
    gap: 10px;
    grid-template-columns: .7fr;
    max-width: 300px;
}


.linkwebsite img,
.linkyoutube img,
.linkinstagram img,
.linkgithub img {
    width: 40px; 
    height: 40px;
    object-fit: fill;
    padding: 10px;
}
  
.linkyoutube, 
.linkinstagram,
.linkwebsite,
.linkgithub {
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px; 
    display: grid;
    align-items: center; /* vertical center */
    background: #ffffff;
    color: #000000;
    padding: 0px 40px 0px 0px;
    font-weight: none;
    grid-template-columns: auto 1fr;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */
}


.linklinkedin img {
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */
}


.linksectiontitle {
    font-size: 0.9rem;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.linkyoutube:hover,
.linkinstagram:hover,
.linkwebsite:hover,
.linkgithub:hover {
    background: #2c2b2b;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* drop shadow */

}
  
/* linked in container */
.container {
    position: relative;
    width: 100%;   /* or set a specific width */
    height: 100px; /* or set a specific height */
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;  /* Adjust the size of the overlay image */
    height: 25px; /* Adjust the size of the overlay image */
    object-fit: fill;  /* Optional: ensures the overlay image doesn't distort */
  }
  /* end linked in container */
